html,

.h4noBMargin {
    display: block; 
    /*margin-top: 1.33em; */
    margin-left: 0; 
    margin-right: 0; 
    font-weight: bold;
    text-align: center;
}

.h4moreTMargin {
    margin-top: 4em;
}

.slider {
    width: 120px;
}

.longSlider {
    width: 160px;
}

.flexContainer {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.widthContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
}

.vertical {
    display: flex; 
    flex-direction: column;
    padding: 3px;
    gap: 3px;
}

.canvasAndOptions {
    width: 100%;
    height: 100%;
    margin: 20px;
}

.nomargin {
    margin-top: 1.33em; 
    margin-left: 0; 
    margin-right: 0; 
}

.mathsArtGrid {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 47.5%));
    gap: 5%;
    row-gap: 5%;
    list-style: none;
    padding: 2% 10%;
    padding-bottom: 5%;
}

.mathsArtGrid > .card {
    margin:0;
}

.card:hover {
    transform: scale(1.02);
}

.cdiv {
    left: 50%;
    margin: auto;
}

.radialsNumericalInput {
    width: 150px;
    height: 16px;
    margin: 5px;
    padding: 0;
}

.radialsEmptyInput {
    width: 150px;
    height: 16px;
    margin: 5px;
    border: none;
    visibility: hidden;
}

.radialsButton {
    width: 100px;
}

.radialsListEntry {
    display: flex;  
    justify-content:space-around;
    margin: 0 20%;
}
